body {
  letter-spacing: 0.08rem;
}

.bg-post {
  background-color: rgba(240, 244, 245, 0.568);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
}

.singlepost {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.alignment {
  text-align: justify;
  letter-spacing: 0.01rem;
}
