body {
  letter-spacing: 0.08rem;
}

.bg-post {
  background-color: rgba(240, 244, 245, 0.568);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
}

.singleuser {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.singlepost {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.alignment {
  text-align: justify;
  letter-spacing: 0.01rem;
}

.activepage {
  background-color: rgb(65, 175, 248);
}
